#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .form {
    margin: 0.5em 0em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .our-team {
    background-color: #efefef;
    color: #121212;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2px;
  }
  
  .form h2 {
    margin: 0;
  }
  .form input {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  
  .border-bottom {
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    margin-bottom: 1px;
  }
  
  
  .delete-btn {
    padding: 0.5em;
    background-color: #c54135;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
    margin: 0.2em;
  }
  
  
  
  .get-shopping-items-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
  }
  
  .submit-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
    margin-top: 0.5em;
  }
  
  
  
  .save-btn {
    padding: 0.5em;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
    margin: 0.2em;
  }
  
  .input-field {
    padding: 8px 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    width: 100%; 
    margin: 8px 0; 
    transition: border-color 0.3s;
  }
  
  
  
  .save-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
  }

  .list-conatiner {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
	max-width: 400px;
	margin: auto;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: inset -3px -3px 0px #0000004c;
  }